Zadanie_3/Client/Service References/ServiceReference1/matrixService2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/serviceCommon" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/serviceCommon" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:53295/matrixService.svc?xsd=xsd3" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:import schemaLocation="http://localhost:53295/matrixService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:complexType name="CMatrix">
    <xs:sequence>
      <xs:element minOccurs="0" name="X" type="xs:int" />
      <xs:element minOccurs="0" name="Y" type="xs:int" />
      <xs:element xmlns:q1="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="m_aMatrix" nillable="true" type="q1:ArrayOfint" />
      <xs:element minOccurs="0" name="m_iID" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CMatrix" nillable="true" type="tns:CMatrix" />
  <xs:complexType name="sServiceResp">
    <xs:annotation>
      <xs:appinfo>
        <IsValueType xmlns="http://schemas.microsoft.com/2003/10/Serialization/">true</IsValueType>
      </xs:appinfo>
    </xs:annotation>
    <xs:sequence>
      <xs:element minOccurs="0" name="m_dElapsedTime" type="xs:double" />
      <xs:element minOccurs="0" name="m_iErrCode" type="xs:int" />
      <xs:element minOccurs="0" name="m_strMessage" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="sServiceResp" nillable="true" type="tns:sServiceResp" />
  <xs:complexType name="sServiceRespExt">
    <xs:annotation>
      <xs:appinfo>
        <IsValueType xmlns="http://schemas.microsoft.com/2003/10/Serialization/">true</IsValueType>
      </xs:appinfo>
    </xs:annotation>
    <xs:sequence>
      <xs:element minOccurs="0" name="m_oMatrixRes" nillable="true" type="tns:CMatrix" />
      <xs:element minOccurs="0" name="m_sServiceResp" type="tns:sServiceResp" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="sServiceRespExt" nillable="true" type="tns:sServiceRespExt" />
</xs:schema>