Zadanie_3/Client/Service References/ServiceReference1/Service1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="Service1" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:53295/matrixService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:53295/matrixService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:53295/matrixService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/serviceCommon" />
      <xsd:import schemaLocation="http://localhost:53295/matrixService.svc?xsd=xsd3" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
      <xsd:import schemaLocation="http://localhost:53295/matrixService.svc?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/Zadanie_3" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IMatrixService_generateMatrixM_InputMessage">
    <wsdl:part name="parameters" element="tns:generateMatrixM" />
  </wsdl:message>
  <wsdl:message name="IMatrixService_generateMatrixM_OutputMessage">
    <wsdl:part name="parameters" element="tns:generateMatrixMResponse" />
  </wsdl:message>
  <wsdl:message name="IMatrixService_generateMatrixID_InputMessage">
    <wsdl:part name="parameters" element="tns:generateMatrixID" />
  </wsdl:message>
  <wsdl:message name="IMatrixService_generateMatrixID_OutputMessage">
    <wsdl:part name="parameters" element="tns:generateMatrixIDResponse" />
  </wsdl:message>
  <wsdl:message name="IMatrixService_multipleMatrixM_InputMessage">
    <wsdl:part name="parameters" element="tns:multipleMatrixM" />
  </wsdl:message>
  <wsdl:message name="IMatrixService_multipleMatrixM_OutputMessage">
    <wsdl:part name="parameters" element="tns:multipleMatrixMResponse" />
  </wsdl:message>
  <wsdl:message name="IMatrixService_multipleMatrixID_InputMessage">
    <wsdl:part name="parameters" element="tns:multipleMatrixID" />
  </wsdl:message>
  <wsdl:message name="IMatrixService_multipleMatrixID_OutputMessage">
    <wsdl:part name="parameters" element="tns:multipleMatrixIDResponse" />
  </wsdl:message>
  <wsdl:portType name="IMatrixService">
    <wsdl:operation name="generateMatrixM">
      <wsdl:input wsaw:Action="http://tempuri.org/IMatrixService/generateMatrixM" message="tns:IMatrixService_generateMatrixM_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMatrixService/generateMatrixMResponse" message="tns:IMatrixService_generateMatrixM_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="generateMatrixID">
      <wsdl:input wsaw:Action="http://tempuri.org/IMatrixService/generateMatrixID" message="tns:IMatrixService_generateMatrixID_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMatrixService/generateMatrixIDResponse" message="tns:IMatrixService_generateMatrixID_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="multipleMatrixM">
      <wsdl:input wsaw:Action="http://tempuri.org/IMatrixService/multipleMatrixM" message="tns:IMatrixService_multipleMatrixM_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMatrixService/multipleMatrixMResponse" message="tns:IMatrixService_multipleMatrixM_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="multipleMatrixID">
      <wsdl:input wsaw:Action="http://tempuri.org/IMatrixService/multipleMatrixID" message="tns:IMatrixService_multipleMatrixID_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMatrixService/multipleMatrixIDResponse" message="tns:IMatrixService_multipleMatrixID_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IMatrixService" type="tns:IMatrixService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="generateMatrixM">
      <soap:operation soapAction="http://tempuri.org/IMatrixService/generateMatrixM" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="generateMatrixID">
      <soap:operation soapAction="http://tempuri.org/IMatrixService/generateMatrixID" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="multipleMatrixM">
      <soap:operation soapAction="http://tempuri.org/IMatrixService/multipleMatrixM" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="multipleMatrixID">
      <soap:operation soapAction="http://tempuri.org/IMatrixService/multipleMatrixID" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Service1">
    <wsdl:port name="BasicHttpBinding_IMatrixService" binding="tns:BasicHttpBinding_IMatrixService">
      <soap:address location="http://localhost:53295/matrixService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>