Zadanie_3/Zadanie_3/Service References/MatrixGen/CMatrixGen.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="CMatrixGen" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:53380/matrixGen.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:53380/matrixGen.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:53380/matrixGen.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/serviceCommon" />
      <xsd:import schemaLocation="http://localhost:53380/matrixGen.svc?xsd=xsd3" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IMatrixGen_generateMatrixM_InputMessage">
    <wsdl:part name="parameters" element="tns:generateMatrixM" />
  </wsdl:message>
  <wsdl:message name="IMatrixGen_generateMatrixM_OutputMessage">
    <wsdl:part name="parameters" element="tns:generateMatrixMResponse" />
  </wsdl:message>
  <wsdl:message name="IMatrixGen_generateMatrixID_InputMessage">
    <wsdl:part name="parameters" element="tns:generateMatrixID" />
  </wsdl:message>
  <wsdl:message name="IMatrixGen_generateMatrixID_OutputMessage">
    <wsdl:part name="parameters" element="tns:generateMatrixIDResponse" />
  </wsdl:message>
  <wsdl:message name="IMatrixGen_getMatrixFromID_InputMessage">
    <wsdl:part name="parameters" element="tns:getMatrixFromID" />
  </wsdl:message>
  <wsdl:message name="IMatrixGen_getMatrixFromID_OutputMessage">
    <wsdl:part name="parameters" element="tns:getMatrixFromIDResponse" />
  </wsdl:message>
  <wsdl:portType name="IMatrixGen">
    <wsdl:operation name="generateMatrixM">
      <wsdl:input wsaw:Action="http://tempuri.org/IMatrixGen/generateMatrixM" message="tns:IMatrixGen_generateMatrixM_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMatrixGen/generateMatrixMResponse" message="tns:IMatrixGen_generateMatrixM_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="generateMatrixID">
      <wsdl:input wsaw:Action="http://tempuri.org/IMatrixGen/generateMatrixID" message="tns:IMatrixGen_generateMatrixID_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMatrixGen/generateMatrixIDResponse" message="tns:IMatrixGen_generateMatrixID_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="getMatrixFromID">
      <wsdl:input wsaw:Action="http://tempuri.org/IMatrixGen/getMatrixFromID" message="tns:IMatrixGen_getMatrixFromID_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMatrixGen/getMatrixFromIDResponse" message="tns:IMatrixGen_getMatrixFromID_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IMatrixGen" type="tns:IMatrixGen">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="generateMatrixM">
      <soap:operation soapAction="http://tempuri.org/IMatrixGen/generateMatrixM" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="generateMatrixID">
      <soap:operation soapAction="http://tempuri.org/IMatrixGen/generateMatrixID" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getMatrixFromID">
      <soap:operation soapAction="http://tempuri.org/IMatrixGen/getMatrixFromID" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="CMatrixGen">
    <wsdl:port name="BasicHttpBinding_IMatrixGen" binding="tns:BasicHttpBinding_IMatrixGen">
      <soap:address location="http://localhost:53380/matrixGen.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>