Zadanie_3/Zadanie_3/Service References/MatrixGen/matrixGen3.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:53380/matrixGen.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/serviceCommon" />
  <xs:element name="generateMatrixM">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/serviceCommon" minOccurs="0" name="a_out_Matrix" nillable="true" type="q1:CMatrix" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="generateMatrixMResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/serviceCommon" minOccurs="0" name="generateMatrixMResult" type="q2:sServiceResp" />
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/serviceCommon" minOccurs="0" name="a_out_Matrix" nillable="true" type="q3:CMatrix" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="generateMatrixID">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="x" type="xs:int" />
        <xs:element minOccurs="0" name="y" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="generateMatrixIDResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/serviceCommon" minOccurs="0" name="generateMatrixIDResult" type="q4:sServiceRespExt" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getMatrixFromID">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getMatrixFromIDResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/serviceCommon" minOccurs="0" name="getMatrixFromIDResult" nillable="true" type="q5:CMatrix" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>